*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ChicagoFLF';
  src: url('./ChicagoFLF.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('./OpenDyslexic-Regular.otf') format('opentype');
}

/* Takes precedence over FullCalendar's  styling. */
:root {
  --fc-page-bg-color: var(--background);
  --fc-border-color: var(--background-inner);
  --fc-neutral-text-color: var(--text-faded);
  --fc-neutral-bg-color: var(--background);
  --fc-button-bg-color: var(--button-hover);
  --fc-button-text-color: var(--text-opp);
  --fc-button-border-color: var(--button-hover);
  --fc-button-hover-bg-color: var(--button-select);
  --fc-button-hover-border-color: var(--button-select);
  --fc-button-active-bg-color: var(--button-select);
  --fc-button-active-border-color: var(--border-outer);
  --fc-event-bg-color: var(--rip-blue);
  --fc-event-border-color: var(--rip-blue);
  --fc-event-text-color: var(--text-normal);
  --fc-event-selected-overlay-color: rgba(var(--border-outer), 0.25);
  --fc-more-link-bg-color: var(--background-inner);
  --fc-non-business-color: rgba(var(--border-outer), 0.3);
  --fc-bg-event-color: var(--background-today);
  --fc-list-event-hover-bg-color: var(--background);
  --grave-bg: var(--background);
  --grave-fg: var(--border-outer);
  background-color: var(--background);
  background-attachment: fixed;
  --button-box-shadow:
    inset -1px -1px 0px 0px var(--button-hover),
    inset -2px -2px 0px 0px var(--background-alt),
    inset 1px 1px 0px 0px var(--background-inner),
    inset 2px 2px 0px 0px var(--background);
  --button-hover-bezel:
    0 0 0 1px var(--background-inner),
    0 0 0 2px var(--background-inner),
    0 0 0 3px var(--border-outer);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Highest precedence */
:root .fc .fc-list-table td {
  padding: 6px 14px;
}
html,
body {
  margin-top: 0;
  /*-moz-user-select: none;*/
  /*-webkit-user-select: none;*/
  background-repeat: repeat;
  margin: 0;
  height: 100%;
  font-family: 'ChicagoFLF', 'Times New Roman', 'Georgia', serif;
  font-size: 12px;
  font-weight: normal;
}

a {
  color: var(--text-normal);
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

/* Window layout */

.calendar-container {
  height: 95vh;
}

fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid var(--border-outer);
}

.fc-header-toolbar {
  text-align: center;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: min(0.75vh, 4px) !important;
}

.text-faded {
  color: var(--text-faded);
}

.fc-toolbar-chunk {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}


.fc-media-screen {
  margin-top: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.fc-media-screen,
.fc .fc-popover,
.popper-box-inner {
  max-height: 90vh; /* Adjust the max height as needed */
  overflow-y: auto;
  z-index: 2;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid var(--border-outer);
  background: var(--background-alt);
  box-shadow:
    1px 2px var(--border-outer),
    inset 1px 1px 0px 0px var(--border-inner),
    inset -1px -1px 0px 0px var(--button-hover);
}

/* The daily content */
.fc-view-harness,
.fc-popover-body {
  margin: 2px 4px 4px 4px;
  border: 1px solid var(--border-outer);
  background-color: var(--background-inner);
  box-shadow:
    -1px -1px 0px 0px var(--button-hover),
    1px 1px 0px 0px var(--border-inner),
    inset 1px 1px 0px 0px var(--border-inner),
    inset -1px -1px 0px 0px var(--button-hover);
}
div.fc-scrollgrid-sync-inner:not(.fc-daygrid-day-frame) {
  background-color: var(--background);
}
.fc-header-toolbar,
.fc-popover-header {
  width: 100%;
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
  background-size: 3px 2px;
  margin: 0 0 0 0;
}

.content .icon {
  text-align: center;
  margin: 1em 0;
}

.content ul {
  list-style-type: none;
  margin: 2px 0 1.5em 0;
  padding: 0 0 0 2em;
  font-size: 12px;
}

.footer {
  width: 400px;
  text-align: center;
  margin: 2em auto 0;
  font-size: 12px;
}

.fc .fc-button-primary,
.fc .fc-button-primary:not(:disabled),
.popper-box-inner button {
  color: var(--border-outer);
  font-family: 'ChicagoFLF';
  font-size: min(3.5vw, 1.2em);
  background-color: var(--background-inner);
  display: inline-block;
  margin-bottom: 0px;
  border-radius: 3px;
  border: 1px solid var(--border-outer);
  box-shadow: var(--button-box-shadow);
}

.fc-daygrid-week-number::before {
  content: ''; /* Required for the pseudo-element to be generated */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-inner); /* Your desired background color */
  z-index: -1; /* Position it under the text content */
}

.fc-button-active {
  box-shadow:
    var(--button-hover-bezel);
}

/* Hide only visually, but have it available for screenreaders & for SEO purposes. See h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.fc-daygrid-day {
  --fc-border-color: var(--border-outer);
}

.fc .fc-toolbar-title {
  font-size: min(5vw, 1.75em);
  color: var(--text-normal);
}

/* Allow multi-day events to overflow to other days */
.fc .fc-h-event .fc-event-time {
  overflow-x: hidden;
}

.fc .fc-daygrid-day.fc-day-today {
  /* The following is just for a simple background color */
  /* --fc-today-bg-color: yellow; */
  background:
    repeating-linear-gradient(45deg,
      transparent,
      transparent 10px,
      var(--background-inner) 10px,
      var(--background-inner) 20px),
    linear-gradient(to bottom,
    var(--background),
    var(--background));
}

.blurb-image {
    color: var(--text-normal);
      text-decoration: none !important;
    font-size: min(5vw, 3em);
    font-family: sans-serif;
    letter-spacing: 0.15rem;
    text-transform: lowercase;
  }
  
  .blurb-text {
  font-family: 'OpenDyslexic';
  font-size: min(4vw, 2em);
  text-align: center;
  padding: min(1vw, 1.75em);
  color: var(--text-normal);
}

  .blurb-sub {
  font-size: min(1.2em);
  text-align: center;
  color: var(--text-normal);
  }

.desc {
  /* This causes issues with fc-h-events */
  font-family: 'OpenDyslexic', serif;
  padding: 18px;
  font-size: min(1em);
  color: var(--text-normal);
}
.desc a:link {
   color: var(--text-linked); /*Richmond 233*/
}

.link-like {
  color: var(--text-linked); /*Richmond 233*/
  cursor: pointer;
}

.fc-event-title {
  color: var(--text-normal);
}

.cat {
  bottom: 10vh;
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}
.popper-box-wrapper {
  overflow-y: auto; /* This allows vertical scrolling when content overflows */
  display: flex;
  justify-content: center;
    align-items: center;
}

.popper-box-inner {
  display: flex;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  flex-direction: column;
  max-width: 48rem;
  border-radius: 0.5rem;
  border-width: 1px;
}

.popper-box-wrapper .popper-box-inner .county-header {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}
.popper-box-wrapper .popper-box-inner .city-header {
  vertical-align: middle;
  float: right;
  line-height: 20px;
  margin-left: 25px;
}

.popper-box-wrapper {
  display: flex;
  justify-content: center;
    align-items: center;
}

.popper-box-inner h1 {
  font-size: 1.375rem;
}

.popper-box-inner .city-header input {
  font-size: 13px;
  vertical-align: middle;
  line-height: 20px;
  margin-right: 6px;
}

.popper-box-inner .bottom {
  margin-top: 10px;
  text-align: center;
}

.fc .fc-h-event .fc-event-time {
  /* Fix time getting cut off for multi-day events */
  overflow: visible;
}

.popper-box-inner .bottom button {
  font-size: 14px;
}
.popper-box-inner .bottom button:active {
  transition: 0s 1s;
  background-image:
    linear-gradient(to bottom right, var(--rip-red), var(--rip-orange), var(--rip-yellow), var(--rip-green), var(--rip-blue), var(--rip-purple));
}

:root .fc .fc-daygrid-day-number {
  text-decoration: dashed underline;
  color: var(--text-faded);
}

.event-details {
  color: var(--text-normal);
  font-family:ChicagoFLF,Times New Roman,Georgia,serif;
  font-size:14px;
}

.event-headers {
  color:var(--text-normal);
  font-size:16px
}

.color-stripe{ /* These stripes use colors derived from the gruvbox alt dark theme */
  height:10px; 
}

/* Styles for the image container */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}

/* Shared styles for all images */
.event-image, .cont-img, .cont-img-mid {
  height:auto;
  width:100%;
  object-fit: cover;
  border-radius: 2%;
  border: 2px solid var(--button-hover);
  margin: auto; /* Ensure the image is aligned at center */
}

.cont-img, .cont-img-mid {
  max-width:100%;
  width: auto;
  vertical-align: top;
  margin:2px
}

.cont-img-mid {
  vertical-align: middle;
}

/* Styles for image-wrapper when there is only one image */
.image-container .image-wrapper:first-of-type:nth-last-of-type(1) {
  width: 95%;
}

/* Styles for the image wrappers when there are two images */
.image-container .image-wrapper:first-of-type:nth-last-of-type(2),
.image-container .image-wrapper:last-of-type:nth-of-type(2) {
  width: calc(48% - 5px); /* take the margin into account */
  margin-right: 5px;
  margin-left: 5px;
  box-sizing: border-box;
}

/* Styles for the image wrappers when there are three images */
.image-container .image-wrapper:nth-of-type(n+2):nth-of-type(-n+3) {
  width: calc(48% - 10px); /* take the margin into account */
  margin-right: 5px;
  margin-left: 5px;
  box-sizing: border-box;
}

.image-container .image-wrapper:first-of-type:nth-last-of-type(3) {
  width: 95%;
}

.badge, .badge-shadow {
  display: inline-block;
  height: 1.2em;
  vertical-align: -0.2em;
  width: auto;
}

/* Adjusting the CSS to target the anchor tags within event harnesses */
.fc-daygrid-event-harness a {
  display: block; /* Make sure the anchor tag fills the harness */
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%; /* Ensure it doesn't exceed the event harness */
}

.fc-scrollgrid-sync-inner {
  color: var(--background);
  overflow: hidden;
}

.fc-list-event-time {
  color: var(--text-normal);
}

.cont-good, .cont-bad{
  white-space: nowrap;
  vertical-align: middle;
  font-size: 30px; 
  color: var(--rip-green);
  padding: 0;
  filter: hue-rotate(30deg);
  text-shadow: 
  -1px -1px 0 var(--border-outer),  
   1px -1px 0 var(--border-outer),
  -1px  1px 0 var(--border-outer),
   1px  1px 0 var(--border-outer), /* Simulates a 1px black outline */
  2px 2px 4px var(--button-hover); /* Adds a grey shadow */
  /*filter: drop-shadow(-1px -1px 0 black) drop-shadow(1px -1px 0 black) drop-shadow(-1px 1px 0 black) drop-shadow(1px 1px 0 black) drop-shadow(2px 2px 4px black);*/
}

.cont-bad{
  color: var(--rip-red); 
  filter: hue-rotate(300deg);
}
