*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
    --background: #faf9f6;
    --background-alt: #ccc;
    --background-inner: #ddd;
    --background-today: #8fdf82;
    --border-outer: #000;
    --border-inner: #fff;
    --button-hover: #64707b;
    --button-select: #1a252f;
    --text-normal: #000;
    --text-faded: #aaa;
    --text-linked: #4a1424;
    --rip-red: #fb4934;
    --rip-orange: #fe8019;
    --rip-yellow: #fabd2f;
    --rip-green: #b8bb26;
    --rip-blue: #83a598;
    --rip-purple: #d3869b;

    --colf: red;
    --cole: red;
    --cold: red;
    --colc: red;
    --colb: red;
    --cola: red;
    --col9: red;
    --col8: red;
    --col7: red;
    --col6: red;
    --col5: red;
    --col4: red;
    --col3: red;
    --col2: red;
    --col1: red;
    --col0: red;
}