*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
    --background: #faf9f6;
    --background-alt: #ccc;
    --background-inner: #ddd;
    --background-today: #8fdf82;
    --border-outer: #000;
    --border-inner: #fff;
    --button-hover: #64707b;
    --button-select: #1a252f;
    --text-normal: #000;
    --text-opp: #fff;
    --text-faded: #aaa;
    --text-linked: #4a1424;
    --rip-red: #fb4934;
    --rip-orange: #fe8019;
    --rip-yellow: #fabd2f;
    --rip-green: #b8bb26;
    --rip-blue: #83a598;
    --rip-purple: #d3869b;
}

.badge-shadow {
  filter: drop-shadow(0px 0px 0.05em var(--border-outer));
}